@use "@angular/material" as mat;
@include mat.core();

body {
  margin: 0;
  padding: 0;
}

$primary-palette: (
  400: #7cbd6d,
  600: #5ea34b,
  800: #478037,
  contrast: (
    300: white,
    500: black,
    700: black,
  ),
);
$secondary-palette: (
  200: #bd91c9,
  400: #904ba3,
  600: #722e8d,

  contrast: (
    200: black,
    400: white,
    600: white,
  ),
);

$primary: mat.define-palette($primary-palette, 600, 400, 800);
$accent: mat.define-palette($secondary-palette, 400, 200, 600);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($theme);
